[Unit]
Description=Fix DNS on Live/Autoinstall if systemd-resolved stub is broken
After=network-online.target systemd-resolved.service
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/fix-dns.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
